<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Notifications Email Template</title>
    <meta name="description" content="Notifications Email Template" />
    <style type="text/css">
      a:hover {
        text-decoration: none !important;
      }
      :focus {
        outline: none;
        border: 0;
      }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8;"
    bgcolor="#eaeeef"
    leftmargin="0"
  >
    <!--100% body table-->
    <table
      cellspacing="0"
      border="0"
      cellpadding="0"
      width="100%"
      bgcolor="#f2f3f8"
      style="
        @import url(
          https://fonts.googleapis.com/css?family=Rubik:300,
          400,
          500,
          700|Open + Sans:300,
          400,
          600,
          700
        );
        font-family: 'Open Sans', sans-serif;
      "
    >
      <tr>
        <td>
          <table
            style="background-color: #f2f3f8; max-width: 670px; margin: 0 auto;"
            width="100%"
            border="0"
            align="center"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td style="height: 80px;">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table
                  width="95%"
                  border="0"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    max-width: 600px;
                    background: #fff;
                    border-radius: 3px;
                    text-align: left;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  "
                >
                  <tr>
                    <td style="padding: 40px; background: azure;">
                      <table
                        width="100%"
                        border="0"
                        align="center"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tr>
                          <td>
                            <div style="background: #2474e5;">
                              <img
                                style="margin: 3%;"
                                src="https://imgfile.blob.core.windows.net/test/icon_vxr_full_2_test.png"
                                alt="logo"
                              />
                            </div>
                            <h1
                              style="
                                text-align: center;
                                color: #2424b5;
                                font-weight: 500;
                                margin: 15px;
                                font-size: 32px;
                                font-family: system-ui;
                              "
                            >
                             THÔNG BÁO NẠP TIỀN THÀNH CÔNG
                            </h1>
                            <p
                              style="
                                font-size: 15px;
                                color: #455056;
                                line-height: 24px;
                                margin: 8px 0 30px;
                              "
                            >
                             	Chào
                              <span
                                style="
                                  font-style: italic;
                                  color: #0e385e;
                                  font-weight: 300;
                                "
                                th:text="${userName}"
                                >userName</span
                              >
                         
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              width="100%"
                              border="0"
                              align="center"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tr
                                style="
                                  border-bottom: 1px solid #ebebeb;
                                  margin-bottom: 26px;
                                  padding-bottom: 29px;
                                  display: block;
                                "
                              >
                                <td style="vertical-align: top;">
                                  <h3
                                    style="
                                      color: #4d4d4d;
                                      font-size: 20px;
                                      font-weight: 400;
                                      line-height: 30px;
                                      margin-bottom: 3px;
                                      margin-top: 0;
                                    "
                                  >
                                    <strong>Thông tin thanh toán</strong>
                                    <h4>
                                      Số tiền:<span
                                        style="
                                          font-style: italic;
                                          color: #0e385e;
                                          font-weight: 300;
                                        "
                                        th:text="${amount}"
                                        >amount</span
                                      >
                                    </h4>
                                    <h4>
                                      Nội dung thanh toán:
                                      <span
                                        style="
                                          font-style: italic;
                                          color: #0e385e;
                                          font-weight: 300;
                                        "
                                        th:text="${content}"
                                        >content</span
                                      >
                                    </h4>

                                    <h4>
                                      Ngày thanh toán:
                                      <span
                                        style="
                                          font-style: italic;
                                          color: #0e385e;
                                          font-weight: 300;
                                        "
                                        th:text="${createAt}"
                                        >createAt</span
                                      >
                                    </h4>
                                  </h3>
                                </td>
                              </tr>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="height: 25px;">&nbsp;</td>
            </tr>
            <tr>
              <td style="height: 80px;">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--/100% body table-->
  </body>
</html>
